<div class="container p-4">
    <button type="button" class="btn btn-primary " (click)="addForm()">Add Form</button>

    <div *ngFor="let form of forms" class="container p-4">
        
      <form>
        <div class="form-row align-items-center">
          <div class="col">
            <label  for="dateInput">Visit Date</label>
            <input type="date" class="form-control" id="dateInput" placeholder="Date">
          </div>
          <div class="col">
            <label  for="weightInput">Weight (kg)</label>
            <input type="number" class="form-control" id="weightInput" placeholder="Weight">
          </div>
          
          <div class="col">
            <label  for="secondDateInput">Next-Visit Date</label>
            <input type="date" class="form-control" id="secondDateInput" placeholder="Date">
          </div>
          
          <!-- <div class="col">
            <button type="button" class="btn btn btn-outline-danger" (click)="removeForm(form)">Remove</button>
          </div> -->
          
        </div>
        <div class="row p-2 ">
          <!-- <div class="col"></div> -->
          <div class="col right"><input type="button" value="Save" class=" btn btn-outline-primary"></div>
      </div>
      </form>
    </div>
  </div>
  