.back {
    position: absolute;
    top: 15px;
    left: 60px;
    width: 40px;
}

#button{
 
background-color: white;
background-image: url('../../assets/icons/search.png');
background-position: 15px 5px;
background-repeat: no-repeat;
background-size: 25px;
padding-left: 45px;

}