<div class="mt-2">

    <div class="d-flex flex-row mb-2" >
        <input type="text" id="button"  placeholder="Search Child Names"  
        class="form-control" [(ngModel)]="searchName" (keyup)="search()">
    </div>

    <table class="table table-bordered table-striped border ">
        <tr>
            <th>#</th>
            <th>Reg No</th>
            <th>Child Name</th>
            <th>Gender</th>
            <th>Birth date</th>
            <th>Weight (kg)</th>
        </tr>

        <tr *ngFor="let child of children index by i">
            <td> {{ children.indexOf(child) + 1 }} </td>
            <td> {{ child.regNo }} </td>
            <td> {{ child.name }} </td>
            <td> {{ child.gender }} </td>
            <td> {{ child.birthDate }} </td>
            <td> {{ child.weight }} </td>
            <td> <button class="btn btn-primary" (click)="open(child)">Details</button> </td>
            
        </tr>
    </table>
</div>
