<div class="container mt-3">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link" routerLink="./immunization" routerLinkActive="active" aria-current="page">Immunization Records</a>
          <a class="nav-link" routerLink="./vitamin" aria-current="page">Vitamins Records</a>
          <a class="nav-link" routerLink="./growth_development" aria-current="page">Child Growth and Development</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>

