<div class="container p-3 border mt-3">
    <div class="row p-2 mb-3 text-bg-primary">IMMUNIZATION RECORDS</div>
    <div class="row p-2 border">
        <div class="col">Vaccine Name</div>
        <div class="col">Date</div>
    </div>

    <div class="row p-2 border">
        <div class="col">BCG(tuberculosis)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">Polio (paralysis) - OPV (drops on mouth)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">Polio (paralysis) - OPV (Right thigh needle)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">DTP-hep B-Hib (sorethroats,whooping cough,tetanus na hepatitis B)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">PCV13-(pneumonia) (left thigh needle)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">ROTARIX-(diarrhea) (drops in mouths)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col">SURUA RUBELLA (MR) (left shoulder needle)</div>
        <div class="col"><input type="date" name="" id="" class="form-control"></div>
    </div>

    <div class="row p-2 border">
        <div class="col"></div>
        <div class="col right"><input type="button" value="Save" class="btn btn-light border"></div>
    </div>
</div>